@tailwind components;
@tailwind utilities;
@import '@animxyz/core';
@include xyz-all;
@include xyz-core;
@include xyz-utilities;

*{
  margin: 0px;

}

@font-face {
  font-family: "MoreSugar";
  src: url("/MoreSugar-Regular.otf");
}
@font-face {
  font-family: "LessSugar";
  src: url("/MoreSugar-Thin.otf");
}

.MoreSugar{
  font-family: "MoreSugar";
}
.LessSugar{
  font-family: "LessSugar";
}